---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarycbpfCwGnrEyDNskn\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarycbpfCwGnrEyDNskn\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarycbpfCwGnrEyDNskn\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarycbpfCwGnrEyDNskn--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarycbpfCwGnrEyDNskn
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"54479b51f01f267223fb73ea16faa6c3"
      Location:
      - https://core.myedools.info/schools/1262
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1262,"subdomain":"test-8680","name":"Test"},"library":{"id":1262},"organization":{"id":1256,"name":"Test"},"admin":{"id":591512,"full_name":"Test","email":"test@test.com","credentials":"28562d3789b460c27a4f14c557c7cbba:38a599a4c92f966bb4af4280d101f9b5","role_id":16593},"forum":{"id":1262}}'
  recorded_at: Wed, 04 Oct 2017 00:35:26 GMT
- request:
    method: post
    uri: https://core.myedools.info/invitations
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryd1WF4Pgzdeyw6eAn\r\nContent-Disposition: form-data;
        name=\"invitation[first_name]\"\r\n\r\ntest\r\n------RubyFormBoundaryd1WF4Pgzdeyw6eAn\r\nContent-Disposition:
        form-data; name=\"invitation[email]\"\r\n\r\nstudent@test.com\r\n------RubyFormBoundaryd1WF4Pgzdeyw6eAn\r\nContent-Disposition:
        form-data; name=\"invitation[password]\"\r\n\r\n123456\r\n------RubyFormBoundaryd1WF4Pgzdeyw6eAn\r\nContent-Disposition:
        form-data; name=\"invitation[password_confirmation]\"\r\n\r\n123456\r\n------RubyFormBoundaryd1WF4Pgzdeyw6eAn--\r\n"
    headers:
      Authorization:
      - Token token="28562d3789b460c27a4f14c557c7cbba:38a599a4c92f966bb4af4280d101f9b5"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryd1WF4Pgzdeyw6eAn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"799174cf1a47fae48ed0a1938d15ad32"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":591514,"first_name":"test","last_name":null,"email":"student@test.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg"}'
  recorded_at: Wed, 04 Oct 2017 00:35:27 GMT
recorded_with: VCR 3.0.3
