---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryjTpPZQHROOYkK2Lo\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryjTpPZQHROOYkK2Lo\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryjTpPZQHROOYkK2Lo\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryjTpPZQHROOYkK2Lo--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryjTpPZQHROOYkK2Lo
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"ca92a27aec70711f78b702a924288998"
      Location:
      - https://core.myedools.info/schools/1290
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1290,"subdomain":"test-7d09","name":"Test"},"library":{"id":1290},"organization":{"id":1284,"name":"Test"},"admin":{"id":591569,"full_name":"Test","email":"test@test.com","credentials":"727aaaf38c5456cb069cc1580799cac6:48d203cedf9bba99e1f584e3fee2e527","role_id":16929},"forum":{"id":1290}}'
  recorded_at: Wed, 04 Oct 2017 00:46:46 GMT
- request:
    method: post
    uri: https://core.myedools.info/invitations
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryTyBB32VFdOu4lOoU\r\nContent-Disposition: form-data;
        name=\"invitation[first_name]\"\r\n\r\ntest\r\n------RubyFormBoundaryTyBB32VFdOu4lOoU\r\nContent-Disposition:
        form-data; name=\"invitation[email]\"\r\n\r\nstudent@test.com\r\n------RubyFormBoundaryTyBB32VFdOu4lOoU\r\nContent-Disposition:
        form-data; name=\"invitation[password]\"\r\n\r\n123456\r\n------RubyFormBoundaryTyBB32VFdOu4lOoU\r\nContent-Disposition:
        form-data; name=\"invitation[password_confirmation]\"\r\n\r\n123456\r\n------RubyFormBoundaryTyBB32VFdOu4lOoU--\r\n"
    headers:
      Authorization:
      - Token token="727aaaf38c5456cb069cc1580799cac6:48d203cedf9bba99e1f584e3fee2e527"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryTyBB32VFdOu4lOoU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"fe1216d5a2dcf1eb6e6e3277c069f2ed"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":591571,"first_name":"test","last_name":null,"email":"student@test.com","cpf":null,"phone":null,"skype":null,"twitter":null,"facebook":null,"company_name":null,"company_position":null,"born_at":null,"biography":null,"cover_image_url":"https://cdn.edools.com/assets/images/users/default.jpeg"}'
  recorded_at: Wed, 04 Oct 2017 00:46:47 GMT
recorded_with: VCR 3.0.3
