---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/enrollments/2119734/lessons_progresses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryL0sAVNtkgbsNIHmO\r\nContent-Disposition: form-data;
        name=\"enrollment_id\"\r\n\r\n2119734\r\n------RubyFormBoundaryL0sAVNtkgbsNIHmO\r\nContent-Disposition:
        form-data; name=\"lesson_progress[lesson_id]\"\r\n\r\n1159126\r\n------RubyFormBoundaryL0sAVNtkgbsNIHmO\r\nContent-Disposition:
        form-data; name=\"lesson_progress[completed]\"\r\n\r\ntrue\r\n------RubyFormBoundaryL0sAVNtkgbsNIHmO\r\nContent-Disposition:
        form-data; name=\"lesson_progress[progress]\"\r\n\r\n100.0\r\n------RubyFormBoundaryL0sAVNtkgbsNIHmO--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryL0sAVNtkgbsNIHmO
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Status:
      - 201 Created
      Location:
      - https://core.myedools.com/lessons_progresses/15173869
      Etag:
      - W/"0f6da1cb7915f3b6f9a87b118bde4e19"
      X-Gocache-Cachestatus:
      - BYPASS
    body:
      encoding: UTF-8
      string: '{"id":15173869,"progress":100.0,"completed":true,"grade":null,"enrollment_id":2119734,"lesson_id":1159126,"created_at":"2018-12-06T14:05:45.580Z","updated_at":"2018-12-06T14:05:45.580Z","external_id":null,"time_spent":0,"views":1,"last_view_at":"2018-12-06T14:05:45.580Z","school_id":1111,"progress_card_id":null,"current_video_time":0}'
  recorded_at: Thu, 06 Dec 2018 14:05:45 GMT
recorded_with: VCR 3.0.3
