---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarySzimHHQ5Lm4qFLXb\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarySzimHHQ5Lm4qFLXb\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarySzimHHQ5Lm4qFLXb\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarySzimHHQ5Lm4qFLXb--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarySzimHHQ5Lm4qFLXb
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"37c61cdf4277bfbb33d917163142af0d"
      Location:
      - https://core.myedools.info/schools/1297
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1297,"subdomain":"test-41f1","name":"Test"},"library":{"id":1297},"organization":{"id":1291,"name":"Test"},"admin":{"id":591584,"full_name":"Test","email":"test@test.com","credentials":"2f46bef83ab8eb767a8c02a81432a233:5f8c5171d34bdfb7641ec49a9ad215bd","role_id":17013},"forum":{"id":1297}}'
  recorded_at: Wed, 04 Oct 2017 00:47:15 GMT
- request:
    method: get
    uri: https://core.myedools.info/school_products
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryANkK2nIRZGvu7rDs\r\n--\r\n"
    headers:
      Authorization:
      - Token token="2f46bef83ab8eb767a8c02a81432a233:5f8c5171d34bdfb7641ec49a9ad215bd"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryANkK2nIRZGvu7rDs
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"d21760648f0e678ffbac51572cbbd62a"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"school_products":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:47:16 GMT
recorded_with: VCR 3.0.3
