---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryq5AqYBvc3nFAsI67\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryq5AqYBvc3nFAsI67\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryq5AqYBvc3nFAsI67\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryq5AqYBvc3nFAsI67--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryq5AqYBvc3nFAsI67
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"ea517ffadbfca3390541875e7c7fc3d3"
      Location:
      - https://core.myedools.info/schools/1271
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1271,"subdomain":"test-4087","name":"Test"},"library":{"id":1271},"organization":{"id":1265,"name":"Test"},"admin":{"id":591531,"full_name":"Test","email":"test@test.com","credentials":"360061a1b0fb5456fbb06742fdb18941:406077a9132d8913bfa3dc5de9f2dff9","role_id":16701},"forum":{"id":1271}}'
  recorded_at: Wed, 04 Oct 2017 00:37:33 GMT
- request:
    method: get
    uri: https://core.myedools.info/school_products
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryke7uTeI1qT4byEYl\r\n--\r\n"
    headers:
      Authorization:
      - Token token="360061a1b0fb5456fbb06742fdb18941:406077a9132d8913bfa3dc5de9f2dff9"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryke7uTeI1qT4byEYl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"d21760648f0e678ffbac51572cbbd62a"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"school_products":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:37:34 GMT
recorded_with: VCR 3.0.3
