---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryEa0XF7qRzAHQmi72\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryEa0XF7qRzAHQmi72\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryEa0XF7qRzAHQmi72\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryEa0XF7qRzAHQmi72--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryEa0XF7qRzAHQmi72
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"7bc4f2d9ae55e60108c01f647db0e468"
      Location:
      - https://core.myedools.info/schools/1267
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1267,"subdomain":"test-1df7","name":"Test"},"library":{"id":1267},"organization":{"id":1261,"name":"Test"},"admin":{"id":591523,"full_name":"Test","email":"test@test.com","credentials":"f7bc10d847ab89f226563301d5b987f3:b27ab45627c3655413433d8484ff0f21","role_id":16653},"forum":{"id":1267}}'
  recorded_at: Wed, 04 Oct 2017 00:37:16 GMT
- request:
    method: post
    uri: https://core.myedools.info/schools/1267/school_products
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary6mzOkKnMCE1EALCb\r\nContent-Disposition: form-data;
        name=\"school_product[title]\"\r\n\r\nTest\r\n------RubyFormBoundary6mzOkKnMCE1EALCb\r\nContent-Disposition:
        form-data; name=\"school_product[school_id]\"\r\n\r\n1267\r\n------RubyFormBoundary6mzOkKnMCE1EALCb--\r\n"
    headers:
      Authorization:
      - Token token="f7bc10d847ab89f226563301d5b987f3:b27ab45627c3655413433d8484ff0f21"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary6mzOkKnMCE1EALCb
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"ab2dee8bdd3540a6986c82af2a194dd0"
      Location:
      - https://core.myedools.info/school_products/22875
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":22875,"title":"Test","subtitle":null,"description":null,"logo":null,"video_url":null,"video_title":null,"video_description":null,"published":false,"hidden":false,"restricted":false,"allowed_emails":[],"expire_date":null,"available_time_type":"indeterminate","available_time_length":null,"available_time_unit":null,"certification":false,"certification_min_progress":null,"meta_title":null,"meta_description":null,"meta_keys":null,"classes_auto_generation":false,"max_attendance_type":"indeterminate","max_attendance_length":null,"forum_section_ids":[],"slug":"test","trial_constrains":{},"syllabus":null,"infos_propagate_to_clones":["school_product","school_product_topic","school_product/payment_option","gallery_media"],"payment_options":[],"gallery_media":[],"school_product_topics":[],"categories":[],"class_teachers":[],"library_resource":null,"created_at":"2017-10-04T00:37:17.112Z","updated_at":"2017-10-04T00:37:17.148Z"}'
  recorded_at: Wed, 04 Oct 2017 00:37:17 GMT
recorded_with: VCR 3.0.3
