---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarysdkxD7lB0l5TPWx3\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarysdkxD7lB0l5TPWx3\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarysdkxD7lB0l5TPWx3\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarysdkxD7lB0l5TPWx3--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarysdkxD7lB0l5TPWx3
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"bc35ecd670f9d08244178565e2add65e"
      Location:
      - https://core.myedools.info/schools/1270
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1270,"subdomain":"test-ec9b","name":"Test"},"library":{"id":1270},"organization":{"id":1264,"name":"Test"},"admin":{"id":591529,"full_name":"Test","email":"test@test.com","credentials":"b74359f67b1089b7c332840ff44cec54:7f756de6cbb5cec4abb3b78c17bac2a8","role_id":16689},"forum":{"id":1270}}'
  recorded_at: Wed, 04 Oct 2017 00:37:29 GMT
recorded_with: VCR 3.0.3
