---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary6wedNfk7I9jz7sSv\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary6wedNfk7I9jz7sSv\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary6wedNfk7I9jz7sSv\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary6wedNfk7I9jz7sSv--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary6wedNfk7I9jz7sSv
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"983888e6f6931e307530905fd7506e4a"
      Location:
      - https://core.myedools.info/schools/1296
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1296,"subdomain":"test-45d1","name":"Test"},"library":{"id":1296},"organization":{"id":1290,"name":"Test"},"admin":{"id":591582,"full_name":"Test","email":"test@test.com","credentials":"bf2325a440a207711f824e7748d3bb53:df2cf114a3f1f023ee24bb2dd6e1a74e","role_id":17001},"forum":{"id":1296}}'
  recorded_at: Wed, 04 Oct 2017 00:47:12 GMT
recorded_with: VCR 3.0.3
