---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary8ZYW8vfYypTa4MUB\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary8ZYW8vfYypTa4MUB\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary8ZYW8vfYypTa4MUB\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary8ZYW8vfYypTa4MUB--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary8ZYW8vfYypTa4MUB
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"527c5f60eb37bc0853eca621e384da2f"
      Location:
      - https://core.myedools.com/schools/1293
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1293,"subdomain":"test-6564","name":"Test"},"library":{"id":1293},"organization":{"id":1287,"name":"Test"},"admin":{"id":591576,"full_name":"Test","email":"test@test.com","credentials":"7f25c39b6f59ce148659dae2b21a5367:85ea570a6124dfcb93bc965ac3fc087f","role_id":16965},"forum":{"id":1293}}'
  recorded_at: Wed, 04 Oct 2017 00:46:58 GMT
- request:
    method: post
    uri: https://core.myedools.com/schools/1293/school_products
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryBb4hKDnh6BYHBcof\r\nContent-Disposition: form-data;
        name=\"school_product[title]\"\r\n\r\nTest\r\n------RubyFormBoundaryBb4hKDnh6BYHBcof\r\nContent-Disposition:
        form-data; name=\"school_product[school_id]\"\r\n\r\n1293\r\n------RubyFormBoundaryBb4hKDnh6BYHBcof--\r\n"
    headers:
      Authorization:
      - Token token="7f25c39b6f59ce148659dae2b21a5367:85ea570a6124dfcb93bc965ac3fc087f"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryBb4hKDnh6BYHBcof
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"57855d21ccbdbbe1d991f6036132d118"
      Location:
      - https://core.myedools.com/school_products/22876
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":22876,"title":"Test","subtitle":null,"description":null,"logo":null,"video_url":null,"video_title":null,"video_description":null,"published":false,"hidden":false,"restricted":false,"allowed_emails":[],"expire_date":null,"available_time_type":"indeterminate","available_time_length":null,"available_time_unit":null,"certification":false,"certification_min_progress":null,"meta_title":null,"meta_description":null,"meta_keys":null,"classes_auto_generation":false,"max_attendance_type":"indeterminate","max_attendance_length":null,"forum_section_ids":[],"slug":"test","trial_constrains":{},"syllabus":null,"infos_propagate_to_clones":["school_product","school_product_topic","school_product/payment_option","gallery_media"],"payment_options":[],"gallery_media":[],"school_product_topics":[],"categories":[],"class_teachers":[],"library_resource":null,"created_at":"2017-10-04T00:46:59.532Z","updated_at":"2017-10-04T00:46:59.568Z"}'
  recorded_at: Wed, 04 Oct 2017 00:46:59 GMT
recorded_with: VCR 3.0.3
