---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary8pgeCZe5gL10eYfe\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary8pgeCZe5gL10eYfe\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary8pgeCZe5gL10eYfe\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary8pgeCZe5gL10eYfe--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary8pgeCZe5gL10eYfe
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"8684c3d136cc65fe25839b92bb577d2a"
      Location:
      - https://core.myedools.com/schools/1303
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1303,"subdomain":"test-b48c","name":"Test"},"library":{"id":1303},"organization":{"id":1297,"name":"Test"},"admin":{"id":591596,"full_name":"Test","email":"test@test.com","credentials":"02095c20b755b7846d38ea98846dd7fd:c3b2ce139b433f8369c228aa198955a7","role_id":17085},"forum":{"id":1303}}'
  recorded_at: Wed, 04 Oct 2017 00:47:38 GMT
- request:
    method: get
    uri: https://core.myedools.com/students
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryqMmUatJMgBWZZzXI\r\nContent-Disposition: form-data;
        name=\"type\"\r\n\r\nstudent\r\n------RubyFormBoundaryqMmUatJMgBWZZzXI--\r\n"
    headers:
      Authorization:
      - Token token="02095c20b755b7846d38ea98846dd7fd:c3b2ce139b433f8369c228aa198955a7"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryqMmUatJMgBWZZzXI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"badb726014da2e9c4ed21f659b713387"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"students":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:47:39 GMT
recorded_with: VCR 3.0.3
