---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary2YvaAdBdO3WH4bt5\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary2YvaAdBdO3WH4bt5\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary2YvaAdBdO3WH4bt5\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary2YvaAdBdO3WH4bt5--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary2YvaAdBdO3WH4bt5
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"d586869443f70b678455ef3d8156146a"
      Location:
      - https://core.myedools.info/schools/1280
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1280,"subdomain":"test-399f","name":"Test"},"library":{"id":1280},"organization":{"id":1274,"name":"Test"},"admin":{"id":591549,"full_name":"Test","email":"test@test.com","credentials":"c03f3794dfe8408c6db3808214af33db:37ad135b293bf382840ac08480731cec","role_id":16809},"forum":{"id":1280}}'
  recorded_at: Wed, 04 Oct 2017 00:40:06 GMT
- request:
    method: get
    uri: https://core.myedools.info/students
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarywpd80dGAnebQJ2gm\r\nContent-Disposition: form-data;
        name=\"type\"\r\n\r\nstudent\r\n------RubyFormBoundarywpd80dGAnebQJ2gm--\r\n"
    headers:
      Authorization:
      - Token token="c03f3794dfe8408c6db3808214af33db:37ad135b293bf382840ac08480731cec"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarywpd80dGAnebQJ2gm
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"badb726014da2e9c4ed21f659b713387"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"students":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:40:07 GMT
recorded_with: VCR 3.0.3
