---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarycDlutJYQfBC3mNau\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarycDlutJYQfBC3mNau\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarycDlutJYQfBC3mNau\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarycDlutJYQfBC3mNau--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarycDlutJYQfBC3mNau
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"cdf7227dabacbe1841c611eeffa0bf34"
      Location:
      - https://core.myedools.info/schools/1259
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1259,"subdomain":"test-bbd8","name":"Test"},"library":{"id":1259},"organization":{"id":1253,"name":"Test"},"admin":{"id":591506,"full_name":"Test","email":"test@test.com","credentials":"9caafd5a92ed47c71e4eef28ff78dda0:3174239626ddac28ff2cf1f7bfe14c25","role_id":16557},"forum":{"id":1259}}'
  recorded_at: Wed, 04 Oct 2017 00:34:08 GMT
- request:
    method: get
    uri: https://core.myedools.info/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarycSBMBGNznoyEwZJV\r\n--\r\n"
    headers:
      Authorization:
      - Token token="9caafd5a92ed47c71e4eef28ff78dda0:3174239626ddac28ff2cf1f7bfe14c25"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarycSBMBGNznoyEwZJV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"8e29521eabad342172dd58942e8c5f68"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"courses":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:34:09 GMT
recorded_with: VCR 3.0.3
