---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarypArKpYhMUjc9Rwyw\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarypArKpYhMUjc9Rwyw\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarypArKpYhMUjc9Rwyw\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarypArKpYhMUjc9Rwyw--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarypArKpYhMUjc9Rwyw
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"4b33912955a07dc5167f48ca5e97d10f"
      Location:
      - https://core.myedools.com/schools/1289
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1289,"subdomain":"test-3632","name":"Test"},"library":{"id":1289},"organization":{"id":1283,"name":"Test"},"admin":{"id":591567,"full_name":"Test","email":"test@test.com","credentials":"678a43e8b07ece4130f3ea65f6a6efc0:6930f7034bbf376491bfc93ed567e461","role_id":16917},"forum":{"id":1289}}'
  recorded_at: Wed, 04 Oct 2017 00:46:42 GMT
- request:
    method: get
    uri: https://core.myedools.com/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary0jDI2XE2JbWdLVUC\r\n--\r\n"
    headers:
      Authorization:
      - Token token="678a43e8b07ece4130f3ea65f6a6efc0:6930f7034bbf376491bfc93ed567e461"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary0jDI2XE2JbWdLVUC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"8e29521eabad342172dd58942e8c5f68"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"courses":[],"current_page":1,"per_page":10,"total_pages":0,"total_count":0}'
  recorded_at: Wed, 04 Oct 2017 00:46:43 GMT
recorded_with: VCR 3.0.3
