---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryiT7wkjFdtHcoih63\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryiT7wkjFdtHcoih63\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryiT7wkjFdtHcoih63\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryiT7wkjFdtHcoih63--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryiT7wkjFdtHcoih63
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"6b3e8b643a788f5169a0277d257ffbbe"
      Location:
      - https://core.myedools.info/schools/1258
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1258,"subdomain":"test-ffa9","name":"Test"},"library":{"id":1258},"organization":{"id":1252,"name":"Test"},"admin":{"id":591504,"full_name":"Test","email":"test@test.com","credentials":"aab317205c75086a4cba5453084ee314:2e81954d86af1de97b35de8589db9796","role_id":16545},"forum":{"id":1258}}'
  recorded_at: Wed, 04 Oct 2017 00:34:04 GMT
- request:
    method: post
    uri: https://core.myedools.info/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarymRbGZNMrBPZubAJh\r\nContent-Disposition: form-data;
        name=\"course\"\r\n\r\n\r\n------RubyFormBoundarymRbGZNMrBPZubAJh--\r\n"
    headers:
      Authorization:
      - Token token="aab317205c75086a4cba5453084ee314:2e81954d86af1de97b35de8589db9796"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarymRbGZNMrBPZubAJh
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"status":"400","error":"Bad Request"}'
  recorded_at: Wed, 04 Oct 2017 00:34:05 GMT
recorded_with: VCR 3.0.3
