---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarygBDW7J5ADJJ4Aa6d\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarygBDW7J5ADJJ4Aa6d\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarygBDW7J5ADJJ4Aa6d\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarygBDW7J5ADJJ4Aa6d--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarygBDW7J5ADJJ4Aa6d
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"dd28853c5c27f60fcd87c9ab237043fe"
      Location:
      - https://core.myedools.com/schools/1285
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1285,"subdomain":"test-02c8","name":"Test"},"library":{"id":1285},"organization":{"id":1279,"name":"Test"},"admin":{"id":591559,"full_name":"Test","email":"test@test.com","credentials":"25582bd91a75050c16cecdeb53077220:195ad89b2324bcc8d772cd25125eb0f5","role_id":16869},"forum":{"id":1285}}'
  recorded_at: Wed, 04 Oct 2017 00:46:25 GMT
- request:
    method: post
    uri: https://core.myedools.com/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryu3VJBh6KEZIBoeGh\r\nContent-Disposition: form-data;
        name=\"course[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryu3VJBh6KEZIBoeGh--\r\n"
    headers:
      Authorization:
      - Token token="25582bd91a75050c16cecdeb53077220:195ad89b2324bcc8d772cd25125eb0f5"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryu3VJBh6KEZIBoeGh
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"cf42eecc4766a30500c0a20b15b70917"
      Location:
      - https://core.myedools.com/courses/22140
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":22140,"name":"Test","description":null,"image_url":null,"duration":null,"ready":false,"path_ids":[],"forum_section_ids":[],"linear_requirements":false,"library_resource":{"id":1167891,"library":{"id":1285},"library_tags":[],"school_products":[]},"created_at":"2017-10-04T00:46:26.340Z","updated_at":"2017-10-04T00:46:26.340Z"}'
  recorded_at: Wed, 04 Oct 2017 00:46:26 GMT
recorded_with: VCR 3.0.3
