---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryxR0cYWQBByGJp0Co\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryxR0cYWQBByGJp0Co\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryxR0cYWQBByGJp0Co\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryxR0cYWQBByGJp0Co--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryxR0cYWQBByGJp0Co
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"4a042216d553d26b848b49aef5833897"
      Location:
      - https://core.myedools.info/schools/1253
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1253,"subdomain":"test-edc5","name":"Test"},"library":{"id":1253},"organization":{"id":1247,"name":"Test"},"admin":{"id":591494,"full_name":"Test","email":"test@test.com","credentials":"b7313686af77e403d0e8e9b8b90044d7:6336604429a6e8711567e7d1eb0a28ed","role_id":16485},"forum":{"id":1253}}'
  recorded_at: Wed, 04 Oct 2017 00:32:37 GMT
- request:
    method: post
    uri: https://core.myedools.info/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarys1cQ0K8vxgbXzk2c\r\nContent-Disposition: form-data;
        name=\"course[name]\"\r\n\r\nTest\r\n------RubyFormBoundarys1cQ0K8vxgbXzk2c--\r\n"
    headers:
      Authorization:
      - Token token="b7313686af77e403d0e8e9b8b90044d7:6336604429a6e8711567e7d1eb0a28ed"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarys1cQ0K8vxgbXzk2c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"7540d81ccda728089b619aa800536263"
      Location:
      - https://core.myedools.info/courses/22138
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"id":22138,"name":"Test","description":null,"image_url":null,"duration":null,"ready":false,"path_ids":[],"forum_section_ids":[],"linear_requirements":false,"library_resource":{"id":1167889,"library":{"id":1253},"library_tags":[],"school_products":[]},"created_at":"2017-10-04T00:32:37.837Z","updated_at":"2017-10-04T00:32:37.837Z"}'
  recorded_at: Wed, 04 Oct 2017 00:32:38 GMT
recorded_with: VCR 3.0.3
