---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryhM5zn8c6AWI441Av\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryhM5zn8c6AWI441Av\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryhM5zn8c6AWI441Av\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryhM5zn8c6AWI441Av--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryhM5zn8c6AWI441Av
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"49a231b29c426a94f0be80c36a59944d"
      Location:
      - https://core.myedools.info/schools/1288
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1288,"subdomain":"test-10ac","name":"Test"},"library":{"id":1288},"organization":{"id":1282,"name":"Test"},"admin":{"id":591565,"full_name":"Test","email":"test@test.com","credentials":"7df5abadbcad5e32f1880ec2e67b54af:7fa66d3622a2750e2bc5dc0828c07c57","role_id":16905},"forum":{"id":1288}}'
  recorded_at: Wed, 04 Oct 2017 00:46:37 GMT
- request:
    method: post
    uri: https://core.myedools.info/courses
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary0lxQGME3OyWVwUHV\r\nContent-Disposition: form-data;
        name=\"course\"\r\n\r\n\r\n------RubyFormBoundary0lxQGME3OyWVwUHV--\r\n"
    headers:
      Authorization:
      - Token token="7df5abadbcad5e32f1880ec2e67b54af:7fa66d3622a2750e2bc5dc0828c07c57"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary0lxQGME3OyWVwUHV
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"status":"400","error":"Bad Request"}'
  recorded_at: Wed, 04 Oct 2017 00:46:38 GMT
recorded_with: VCR 3.0.3
