---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.com/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryZ2Os0y75JVw51xW9\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryZ2Os0y75JVw51xW9\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryZ2Os0y75JVw51xW9\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryZ2Os0y75JVw51xW9--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryZ2Os0y75JVw51xW9
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"63632bf96fc6ebc6bfa5eb49cb739f63"
      Location:
      - https://core.myedools.com/schools/1298
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1298,"subdomain":"test-8e4d","name":"Test"},"library":{"id":1298},"organization":{"id":1292,"name":"Test"},"admin":{"id":591586,"full_name":"Test","email":"test@test.com","credentials":"cae16589fd3821a5d0756c9107032231:1260fce0ccd2c17a8f35cd1d2813ee1f","role_id":17025},"forum":{"id":1298}}'
  recorded_at: Wed, 04 Oct 2017 00:47:20 GMT
recorded_with: VCR 3.0.3
