---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryOsBSQ1HtbknGpQNe\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryOsBSQ1HtbknGpQNe\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryOsBSQ1HtbknGpQNe\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryOsBSQ1HtbknGpQNe--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryOsBSQ1HtbknGpQNe
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"803c61188a856ce10ba80074da402679"
      Location:
      - https://core.myedools.info/schools/1274
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1274,"subdomain":"test-64a9","name":"Test"},"library":{"id":1274},"organization":{"id":1268,"name":"Test"},"admin":{"id":591537,"full_name":"Test","email":"test@test.com","credentials":"641256d881b498d356993153cfb16dc1:f0683bdc3354e6dc5fdefbc2d8183929","role_id":16737},"forum":{"id":1274}}'
  recorded_at: Wed, 04 Oct 2017 00:39:38 GMT
recorded_with: VCR 3.0.3
