---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary3Wq6CzwATW9iVa6t\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary3Wq6CzwATW9iVa6t\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary3Wq6CzwATW9iVa6t\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary3Wq6CzwATW9iVa6t--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary3Wq6CzwATW9iVa6t
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"820936e5bf961f3e275e8269923ca14a"
      Location:
      - https://core.myedools.info/schools/1278
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1278,"subdomain":"test-a739","name":"Test"},"library":{"id":1278},"organization":{"id":1272,"name":"Test"},"admin":{"id":591545,"full_name":"Test","email":"test@test.com","credentials":"210f427ece0b820e11d02a2775348fcd:6ea31ff568f8c29361f1d422ec55f285","role_id":16785},"forum":{"id":1278}}'
  recorded_at: Wed, 04 Oct 2017 00:39:55 GMT
recorded_with: VCR 3.0.3
