---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary8minrZc4L0p60Cmx\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary8minrZc4L0p60Cmx\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary8minrZc4L0p60Cmx\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary8minrZc4L0p60Cmx--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary8minrZc4L0p60Cmx
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"8a34269b03177ae989c5155e661a0c6d"
      Location:
      - https://core.myedools.info/schools/1276
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1276,"subdomain":"test-f46b","name":"Test"},"library":{"id":1276},"organization":{"id":1270,"name":"Test"},"admin":{"id":591541,"full_name":"Test","email":"test@test.com","credentials":"271abb67bca749374671088202cebebc:2030dba22603b75de9009968f39442f2","role_id":16761},"forum":{"id":1276}}'
  recorded_at: Wed, 04 Oct 2017 00:39:48 GMT
- request:
    method: patch
    uri: https://core.myedools.info/schools/test
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryXPDkkZkzaBkkud2q\r\nContent-Disposition: form-data;
        name=\"school[id]\"\r\n\r\ntest\r\n------RubyFormBoundaryXPDkkZkzaBkkud2q--\r\n"
    headers:
      Authorization:
      - Token token="271abb67bca749374671088202cebebc:2030dba22603b75de9009968f39442f2"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryXPDkkZkzaBkkud2q
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Wed, 04 Oct 2017 00:39:49 GMT
recorded_with: VCR 3.0.3
