---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryqxD0nVuOcyxwtqEn\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryqxD0nVuOcyxwtqEn\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryqxD0nVuOcyxwtqEn\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryqxD0nVuOcyxwtqEn--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryqxD0nVuOcyxwtqEn
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"5da4c70c868a5ac407fa48807b72d193"
      Location:
      - https://core.myedools.info/schools/1299
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1299,"subdomain":"test-9dab","name":"Test"},"library":{"id":1299},"organization":{"id":1293,"name":"Test"},"admin":{"id":591588,"full_name":"Test","email":"test@test.com","credentials":"c61cfc75804f7b51cadd812f930bd0bb:cf25c31f36375a6e0de36a711810b732","role_id":17037},"forum":{"id":1299}}'
  recorded_at: Wed, 04 Oct 2017 00:47:24 GMT
- request:
    method: patch
    uri: https://core.myedools.info/schools/1299
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryidmb333HAElKKQCw\r\nContent-Disposition: form-data;
        name=\"school[id]\"\r\n\r\n1299\r\n------RubyFormBoundaryidmb333HAElKKQCw--\r\n"
    headers:
      Authorization:
      - Token token="c61cfc75804f7b51cadd812f930bd0bb:cf25c31f36375a6e0de36a711810b732"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryidmb333HAElKKQCw
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 04 Oct 2017 00:47:25 GMT
recorded_with: VCR 3.0.3
