---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryK9LbAnb143LPEApR\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundaryK9LbAnb143LPEApR\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundaryK9LbAnb143LPEApR\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundaryK9LbAnb143LPEApR--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryK9LbAnb143LPEApR
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"6ebb83f2b97c7d00ea1b0a0d976584c9"
      Location:
      - https://core.myedools.info/schools/1301
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1301,"subdomain":"test-862c","name":"Test"},"library":{"id":1301},"organization":{"id":1295,"name":"Test"},"admin":{"id":591592,"full_name":"Test","email":"test@test.com","credentials":"5f8b17377bda90ca41a6a57361f4c632:43b2bd152508b1ff4d67878e10d41861","role_id":17061},"forum":{"id":1301}}'
  recorded_at: Wed, 04 Oct 2017 00:47:32 GMT
recorded_with: VCR 3.0.3
