---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarydk9bK7kJABugVnWk\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundarydk9bK7kJABugVnWk\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundarydk9bK7kJABugVnWk\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundarydk9bK7kJABugVnWk--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarydk9bK7kJABugVnWk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"645c835dbee7872ad25043f65a405375"
      Location:
      - https://core.myedools.info/schools/1275
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1275,"subdomain":"test-1fa5","name":"Test"},"library":{"id":1275},"organization":{"id":1269,"name":"Test"},"admin":{"id":591539,"full_name":"Test","email":"test@test.com","credentials":"8ceb64103572b83ef884490c9baaaf82:3069d24466cf12953c91817f6d55fd30","role_id":16749},"forum":{"id":1275}}'
  recorded_at: Wed, 04 Oct 2017 00:39:43 GMT
- request:
    method: patch
    uri: https://core.myedools.info/schools/1275
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundarygrwLG2Gdc9vAcGqA\r\nContent-Disposition: form-data;
        name=\"school[id]\"\r\n\r\n1275\r\n------RubyFormBoundarygrwLG2Gdc9vAcGqA--\r\n"
    headers:
      Authorization:
      - Token token="8ceb64103572b83ef884490c9baaaf82:3069d24466cf12953c91817f6d55fd30"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundarygrwLG2Gdc9vAcGqA
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 04 Oct 2017 00:39:44 GMT
recorded_with: VCR 3.0.3
