---
http_interactions:
- request:
    method: post
    uri: https://core.myedools.info/schools/wizard
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundary2YV0M8hDrZIlLmjm\r\nContent-Disposition: form-data;
        name=\"school[name]\"\r\n\r\nTest\r\n------RubyFormBoundary2YV0M8hDrZIlLmjm\r\nContent-Disposition:
        form-data; name=\"school[email]\"\r\n\r\ntest@test.com\r\n------RubyFormBoundary2YV0M8hDrZIlLmjm\r\nContent-Disposition:
        form-data; name=\"school[password]\"\r\n\r\n12345678\r\n------RubyFormBoundary2YV0M8hDrZIlLmjm--\r\n"
    headers:
      Authorization:
      - Token token="e20c3d8a4c6f1c3da2a90704e87b6291:9a960117fe097dbf1d2eb8a5b30c3185"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundary2YV0M8hDrZIlLmjm
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Etag:
      - W/"d5c14083a53085f3a1dbfbc20f64d5d4"
      Location:
      - https://core.myedools.info/schools/1300
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"school":{"id":1300,"subdomain":"test-b0c1","name":"Test"},"library":{"id":1300},"organization":{"id":1294,"name":"Test"},"admin":{"id":591590,"full_name":"Test","email":"test@test.com","credentials":"cb905156b4ae5a14d0ab52c8058d909d:6443d273f01e6a3ec83c0f6c63d3c6f3","role_id":17049},"forum":{"id":1300}}'
  recorded_at: Wed, 04 Oct 2017 00:47:28 GMT
- request:
    method: patch
    uri: https://core.myedools.info/schools/test
    body:
      encoding: ASCII-8BIT
      string: "------RubyFormBoundaryA4j0Tsh22zI3DJth\r\nContent-Disposition: form-data;
        name=\"school[id]\"\r\n\r\ntest\r\n------RubyFormBoundaryA4j0Tsh22zI3DJth--\r\n"
    headers:
      Authorization:
      - Token token="cb905156b4ae5a14d0ab52c8058d909d:6443d273f01e6a3ec83c0f6c63d3c6f3"
      Content-Type:
      - multipart/form-data; boundary=----RubyFormBoundaryA4j0Tsh22zI3DJth
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.edools.core.v1+json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":"404","error":"Not Found"}'
  recorded_at: Wed, 04 Oct 2017 00:47:30 GMT
recorded_with: VCR 3.0.3
